@import "src/styles/colors";
@import "src/styles/typography";
@import "src/styles/images";

.hero-image-1 {
  @include hero-image;
  background-image: url("../../../img/init.png");
}

.hero-image-2 {
  @include hero-image;
  background-image: url("../../../img/ready.png");
}

.init-description {
  @include h2-styled;
  display: flex;
  color: $ink;
  align-items: center;
  z-index: 1;
  text-align: center;
  align-self: center;
  height: 100%;
  width: 60%;
}

.text {
  display: flex;
  align-items: center;
  height: 70%;
}

.button-group {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.button-group-mini {
  display: flex;
  width: 320px;
  flex-direction: row;
  justify-content: space-between;
}

.container-step {
  padding: 50px;
  display: flex;
  height: 88%;
  flex-direction: column;
  justify-content:  space-between;
}
