@import "src/styles/colors";
@import "src/styles/typography";

.step  {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.step-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 10%;
}

.title {
  @include  h1-styled;
  color: $ink;
}

.instructions {
  @include h4-styled;
  color: $ink;
}

.select-all {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 40px;
}

.select-all-label {
  @include p-styled;
  margin-right: 10px;
}

.intents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 40px;
}

.intent-card {
  width: 228px;
  height: 370px;
  border-radius: 8%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 25px
}

.intent-deselected {
  background: $white;
  box-shadow: rgba(0, 0, 0, 0.08) 0 4px 12px;
}

.intent-selected {
  background: $evenLighter;
}

.card-content {
  display: flex;
  flex-direction: column;
  height: 48%;
}

.card-header {
  display: flex;
  flex-direction: column;
}

.intent-name {
  @include h4-styled;
  font-weight: 700;
  margin-top: 10px;
  align-self: center;
}

.intent-description {
  @include p-styled;
  color: $ink;
  margin-top: 8px;
  text-align: center;
}

.header-icon  {
  display: flex;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: $whitish;
  align-items: center;
  justify-content: center;
  align-self: center;
  color: $secondary
}

svg {
  height: 20px;
  width: 20px;
}

.card-section-header {
  @include p-styled;
  font-weight: 700;
  margin-top: 10px;
}

.card-section {
  @include p-styled;
  margin-top: 5px;
}

.card-footer {
  align-self: center;
}

.action-button {
  margin: 20px 0 30px;
}

.action-bar  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 72.5%;
  background: rgba(255, 255, 255, 0.8);
}

.action-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 320px;
}

