@import "src/styles/colors";
@import "src/styles/typography";

.logo {
  height: 36px;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.header {
  background: $dark;
  width: 20%;
  padding: 40px 40px;
}

.step-container {
  width: 80%;
}

.white-color {
  color: $white;
}

.lightInk-color {
  color: $superLightInk;
}

.step-title {
  @include h2-styled;
}

.step-description {
  @include p-styled;
  margin-top: 10px;
}

.step-meta {
  margin-top: 80px;
  height: 140px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.steps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 330px;
  margin-top: 70px;
}

.wizard-step {
  display: flex;
  flex-direction: column;
  flex: 1;

  &:last-of-type .vertical-line {
    display: none;
  }
}

.vertical-line {
  height: 70px;
  border-left: 1px solid $superLightInk;
  transform: translateX(13px);
  margin: 10px 0;
}

.form-step {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.step-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border: 1px solid $superLightInk;
  border-radius: 50%
}

.icon-active {
  border: 1px solid $white;
}

.line-active {
  border-left: 1px solid $white;
}

.step-index {
  @include p-styled
}

.step-label {
  @include h4-styled;
  margin-left: 15px;
}
