@mixin hero-image {
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center center;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.1);
  }
}
