@mixin hero-styled {
  font-size: 110px;
  line-height: 130px;
  font-weight: 700;
}

@mixin h1-styled {
  font-size: 34px;
  line-height: 46px;
  font-weight: 700;
}

@mixin h2-styled {
  font-size: 28px;
  line-height: 34px;
  font-weight: 700;
}

@mixin h3-styled {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}

@mixin h4-styled {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

@mixin p-styled {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
