@import "src/styles/colors";
@import "src/styles/typography";

@mixin custom-button {
  border-radius: 20px;
}
.button-small {
  @include custom-button;
  border-radius: 20px;
  width: 110px;
  height: 35px;
}

.button-medium {
  @include custom-button;
  width: 150px;
  height: 40px;
}

.button-large {
  border-radius: 30px;
  width: 230px;
  height: 45px;
}

.button-primary {
  background-color: $primary;
  color: $white;
  border: none;
}

.button-secondary {
  color: $primary;
  background-color: transparent;
  border: 1px solid $primary;
}

.label {
  @include p-styled;
}
.label-large {
  @include h4-styled;
}

.button-disabled {
  opacity: 0.5;
}
