@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
