@import "src/styles/colors";
@import "src/styles/typography";
@import "src/styles/images";

.logo {
  height: 36px;
}

.intro {
  margin-top: 80px;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro-text {
  @include h3-styled;
  color: $white;
}

.container-landing {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: row;
}

.sidebar {
  background: $dark;
  width: 20%;
  padding: 40px 40px;
}

.content {
  width: 80%;
  height: 100%;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hero-text {
  @include hero-styled;
  color: $ink;
  width: 40%;
}

.button-container {
  width: 40%;
}
